@import "libs/_bootstrap-reboot.min.css";
@import "libs/_bootstrap-grid.min.css";
@import "libs/slick";

@import "base/variables";
* {
    font-family: 'Chivo', sans-serif;
}
.section {
    margin: 0 auto;
    max-width: 1440px;
}
.container {
    position: relative;
}

@import "blocks/header";
@import "blocks/buttons";
@import "blocks/main";
@import "blocks/description";
@import "blocks/opportunitie";
@import "blocks/title";
@import "blocks/convenience";
@import "blocks/how-it-works";
@import "blocks/testimnonials";
@import "blocks/invest";
@import "blocks/footer";
@import "blocks/navigation";
@import "blocks/card";