.header {
    position: relative;
    padding-top: 40px;
    &__logo {
        padding-top: 7px;
    }
    &__menu {
        margin-top: 12px;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-link {
            color: $text-color;
            font-size: 16px;
            font-weight: 400;
            &:hover {
                color: $text-color;
            }
            &_active {
                color: $main-color;
                font-weight: 700;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}