.header {
    position: relative;
    padding-top: 40px;
    min-height: 788px;
    background: url("../img/main-bg.png") center (center/cover) no-repeat;
    &__logo {
        padding-top: 4px;
    }
    &__menu {
        margin-top: 13px;
        margin-bottom: 0;
        padding-left: 0;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-link {
            color: $text-color;
            font-size: 16px;
            font-weight: 400;
            &:hover {
                color: $text-color;
            }
            &_active {
                color: $main-color;
                font-weight: 700;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
    &__button {
        margin: 0 0 0 auto;
    }
    &-info {
        padding: 128px 0 216px 0;
        &__title {
            color: $text-color;
            font-size: 46px;
            font-weight: 700;
            line-height: 64px;
        }
        &__description {
            margin-top: 30px;
        }
        &__button {
            margin-top: 54px;
        }
    }
}