.invest {
    position: relative;
    padding-top: 184px;
    padding-bottom: 51px;
    &__shape {
        position: absolute;
        top: -373px;
        right: -150px;
        width: 1440px;
        height: 720px;
        background: url("../img/invest-bg.png") center center/cover no-repeat;
        z-index: -1;
    }
    &__wrapper {
        margin: 0 auto;
        padding: 77px 0 79px 0;
        width: 1056px;
        min-height: 296px;
        background-color: #fff;
    }
    &__title {
        text-align: center;
        span {
            color: $main-color;
        }
    }
    &__button {
        margin: 0 auto;
        margin-top: 40px;
    }
}