.main {
    padding: 128px 0 220px 0;
    height: 700px;
    &__background {
        position: absolute;
        top: -216px;
        right: -150px;
        height: 790px;
        width: 660px;
        background: url("../img/main-bg.png") center (center/cover) no-repeat;
        z-index: -1;
    }
    &__header {
        color: $text-color;
        font-size: 46px;
        font-weight: 700;
        line-height: 64px;
    }
    &__description {
        margin-top: 30px;
    }
    &__button {
        margin-top: 54px;
    }
    &__additional-img {
        position: absolute;
        bottom: -570px;
        left: -120px;
        width: 167px;
        height: 594px;
        background: url("../img/top-shape.png") center (center/cover) no-repeat;
    }
}